@{
    ViewBag.Title = "Bem vindo...";
}

@Html.Partial("_Slider")

<div class="row-fluid purchase margin-bottom-30">
    <div class="container">
        <div class="span9">
            <span>Bem vindo ao MVC Summit 2013</span>
            <p>O MVC Summit é um evento anual dedicado à desenvolvimento web e totalmente gratuito. Conceitos, tecnologias e práticas visando o melhor desenvolvimento de produtos e aplicações.</p>
        </div>
        <a href="http://mvcsummit.eventbrite.com/" target="_blank" class="btn-buy hover-effect">Inscreva-se</a>
    </div>
</div>


<div class="row-fluid">
    <div class="span4">
        <div class="service clearfix">
            <i class="icon-resize-small"></i>
            <div class="desc">
                <h4>HTML, CSS e JavaScript</h4>
                <p>Temos uma trilha dedicada exclusivamente para tecnologias web de front-end, para quem está começando a desenvolver na plataforma web.</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="service clearfix">
            <i class="icon-cogs"></i>
            <div class="desc">
                <h4>MVC Pattern</h4>
                <p>Todo o conteúdo abordado dentro da plataforma MVC como WebAPI, Entity Framework e o próprio framework MVC está nesta trilha.</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="service clearfix">
            <i class="icon-plane"></i>
            <div class="desc">
                <h4>Nova Web</h4>
                <p>Pronto para decolar? Esta trilha é dedicada exclusivamente para novas tecnologias e tendências do desenvolvimento web.</p>
            </div>
        </div>
    </div>
</div>