<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide pull-right">
            <h2><i>DIA 27 DE JULHO</i><br /><i>A PARTIR DAS 09:00</i><br /><i>ONLINE</i></h2>
            <p><i>Acompanhe online atráves do</i><br /><i>link disponível no site </i></p>
            
        </div>
        <div class="da-slide">
            <h2><i>CONFIRA A CHAMADA</i><br /><i>PARA O EVENTO</i><br /><i>MVC SUMMIT 2013</i></h2>
            <p><i>Junte-se ao maior</i><br /><i>evento de MVC online</i><br /><i>do Brasil</i></p>
            <div class="da-img span6">
                <div class="span6">
                    <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="da-slide">
            <h2><i>AS TECNOLOGIAS</i><br /><i>MAIS UTILIZADAS</i><br /><i>NO MERCADO</i></h2>
            <p><i>Do HTML ao backend</i><br /><i>fique por dentro de</i><br /><i>todas as novidades </i></p>
            <div class="da-img"><img src="~/content/plugins/parallax-slider/img/html5andcss3.png" alt="image01" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>
</div>